/*************** Variabler *********************/

* {
  /* Globale */
  --black: #060607;
  --darkergrey: #1b1b1b;
  --darkgrey: #4e4c4c;
  --lightgrey: #79777a;
  --lightergrey: #cac9c9;
  --white: #ffffff;
}

/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

/*************** Generel CSS *********************/

body {
  background-color: var(--black);
  overflow-y: scroll; /* SCROLL BAR */
}

main {
  padding: 10px 100px 10px 100px;
  background-color: var(--darkergrey);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 10px;
  color: white;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 30px 10px 10px 10px;
  color: var(--white);
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--lightergrey);
}

p.small {
  font-size: 13px;
  font-weight: 500;
  padding: 15px 100px 15px 5px;
  margin: 0;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--darkgrey);
}

p.small:hover {
  background-color: var(--lightgrey);
}

nav {
  padding: 10px 30px;
  text-align: center;
}

button {
  background-color: var(--darkgrey);
  color: var(--lightgrey);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
}

button.navigation {
  color: var(--white);
  font-weight: 300;
  border-radius: 30px;
  padding: 10px 20px;
}

button.navigation:hover {
  background-color: var(--white);
  color: var(--darkgrey);
}

/*************** Tekstfelt i header *********************/

input {
  background-color: var(--darkgrey);
  color: var(--darkgrey);
  font-size: 15px;
  padding: 15px 200px;
  border-radius: 20px;
  border: none;
}

.textarea {
  text-align: left;
  padding-left: 15px;
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
}

.textarea::placeholder {
  color: var(--lightgrey);
}

.home_icon {
  max-width: 30px;
  max-height: 30px;
}

/** SCROLL BAR  chat-gpt**/

/* Tilpasning af scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Gør scrollbaren smal */
}

/* Baggrunden af scrollbaren */
::-webkit-scrollbar-track {
  background: var(--darkgrey); /* Mørk baggrund som Spotify */
  border-radius: 10px;
}

/* Selve scrollelementet (den bevægelige del) */
::-webkit-scrollbar-thumb {
  background: var(--lightgrey);
  opacity: 50%; /* Spotify grøn */
  border-radius: 10px;
  min-height: 30px; /* Minimum længde */
}

/* Når brugeren holder musen over scrollbaren */
::-webkit-scrollbar-thumb:hover {
  background: var(--white); /* Lidt lysere grøn */
}
